/* CustomCursor.css */
.custom-cursor {
  position: absolute;
  width: 30px; /* Adjust size */
  height: 30px; /* Adjust size */
  /* background: url('cursor-image.png') no-repeat center center; */
  background-size: contain;
  pointer-events: none;
  background-color: transparent;
  border: 1px solid white;

  border-radius: 50%;
  transition: transform 0.1s ease-in-out;
  transform: translate(-50%, -50%); /* Center the cursor on the mouse */
  z-index: 9999; /* Ensure the cursor stays on top */
}
