/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
}

.slider-container {
  perspective: 1000px;
  transform: rotateX(4deg) rotateY(20deg) rotateZ(5deg);
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
  margin-top: 90px;
  width: 100%;
  position: relative;
  height: 30rem;
  background-color: transparent;
}

.slider-track {
  display: flex;
  animation: none;
}

.slider-item {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider-video {
  width: 100%; /* Increase the width while keeping height consistent */
  height: 100%;
  object-fit: cover;
}

@media (max-width: 425px) {
  .slider-container {
    transform: none; /* No tilt or rotation on mobile */
    overflow: hidden;
    margin: 20px 0px 20px 0px;
    
  }
  

  .slider-item {
    flex: 0 0 75%;
  }

  .innovative-designs {
    font-size: 2.3rem;
  }

  .seamless-solutions {
    font-size: 2rem;
    margin-top: 0;
  }

  .slider-text-container {
    height: 150px;
  }
}
