/* General Slider Styles */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    perspective: 1000px;
  }
  
  .slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-track {
    display: flex;
    transition: transform 0.6s ease-in-out;
  }
  
  .slider-slide {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
  }
  
  .slider-slide img,
  .slider-slide video {
    width: 100%;
    height: auto;
  }
  
  .slider-text-container {
    text-align: center;
    margin-top: 90px;
  }
  
  .innovative-designs {
    font-size: 2rem;
    color: white;
  }
  
  .seamless-solutions {
    font-size: 1.5rem;
    color: #ffc940;
  }
  
  .slider-prev,
  .slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 10;
  }
  
  .slider-prev {
    left: 10px;
  }
  
  .slider-next {
    right: 10px;
  }
  
  